
::-webkit-scrollbar {
  display: none;
}
  
body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

#sideBar{
  width: 30%;
  height: 100%;
  background: palegoldenrod;
  &>#sideBarTab{
    display: flex;
    margin: .3em;
    border-bottom: 3px black dashed;
    flex-wrap: wrap;
    justify-content: center;
    &>*{
      width: fit-content;
      padding: .5em .7em;
    }
  }
}

#contacts{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  font-size: 0.7em;
  align-content: flex-start;
  overflow-y: auto;
  .contact{
    display: grid;
    width: 100%;
    height: fit-content;
    padding: .3em;
    margin: .3em;
    grid-template-columns: 6em auto;
    grid-template-rows: 1fr auto;
    grid-auto-flow: row;
    &:last-child{
      margin-bottom: 10em;
    }
    &>.pic{
      width: 4em;
      height: 4em;
      margin: .5em;
      border-radius: 50%;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    &>.named{
      padding: .3em;
      font-size: larger;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    & .named2{
      display: inline;
      color: gray;
    }
    &>.intro{
      padding: .3em;
      font-size: smaller;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  } 
}

#chatHistory{
  width: 70%;
  padding: 1em;
  font-size: 0.7em;
  background: #333;
  color: aliceblue;
  overflow-y: auto;
  .left{
    margin-right: auto;
  }
  .right{
    margin-left: auto;
  }
}

.chat{
  display: grid;
  width: fit-content;
  margin: .5em;
  grid-template-columns: 4em auto auto;
  grid-template-rows: 1fr auto;
  &>*{
    margin: .5em;
  }
  .pic{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .who{
    margin-bottom: 0;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .msg{
    display: block;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .time{
    display: inline;
    margin-top: auto;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .image{
    max-width: 300px;
    max-height: 600px;
  }
  &.text{
    &>.msg{
      padding: 0.7em;
      background-color: aliceblue;
      color: black;
      border-radius: 1em;
      width: fit-content;
    }
  }
  &.right{
    display: flex;
    flex-direction: row-reverse;
    &>.who, &>.pic{
      display: none;
    }
  }
}